{% style %}
  .category-container {
    margin: 3rem 0;
  }
  .category-container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 0 0 1rem;
  }
  .category-container ul li a {
    display: block;
    /* width: 70%; */
    padding: .4rem .6rem;
    background-color: rgba(var(--color-foreground), .8);
    color: rgba(var(--color-button-text));
    transition: background-color .3s;
    border-radius: 4px;
  }
  .category-container ul li a:hover {
    background-color: rgba(var(--color-foreground), .65);
  }
{% endstyle %}

<div class="category-container">
  <h3>記事カテゴリー</h3>
  {%- if menu != blank -%}
    <ul>
      {%- for link in menu.links -%}
        <li class="category-item">
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
