{% style %}
  .tag-container {
    margin: 3rem 0;
  }
  .tag-container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 0 0 1rem;
  }
  .tag-container ul li a {
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-foreground), .6);
    color: rgba(var(--color-button-text));
    padding: .4rem 6px;
    border-radius: 4px;
    transition: background-color .5s;
  }

  .tag-container ul li a:hover {
    background-color: rgba(var(--color-foreground), .45);
  }
  @media screen and (max-width: 749px) {
    .tag-container ul li {
      padding: .2rem 4px;
  }
{% endstyle %}

<div class="tag-container">
  <h3>タグ一覧</h3>
  <ul>
    {% for tag in blog.all_tags %}
      {% unless tag contains '年' %}
        <li class="tag-item">
          <a href="/blogs/all/tagged/{{ tag | handleize }}">
            {{
              tag
              | replace: 'personal', 'パーソナル'
              | replace: 'fitness', 'フィットネス'
              | replace: 'nutrition', 'ニュートリション'
              | replace: 'training', 'トレーニング'
              | replace: 'goldgym', 'ゴールドジム'
              | replace: '-federations', '団体'
              | replace: 'physique', 'フィジーク'
              | replace: '-accessories', 'グッズ'
              | replace: '-apparel', 'アパレル'
              | replace: '-influencer', 'インフルエンサー'
              | replace: 'protein', 'プロテイン'
              | replace: 'gym', 'ジム'
              | replace: 'tools-and-calculators', 'ツールと計算'
            }}
          </a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>
