{% style %}
  .article_date_tag_text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
{% endstyle %}

<div class="article_date_tag_text">
  {%- if blog_show_date -%}
    <span class="circle-divider caption-with-letter-spacing">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        style="position: relative; top: 2px; margin-right: 2px;"
        height="1.4rem"
        viewBox="0 0 448 512"
      >
        <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192h80v56H48V192zm0 104h80v64H48V296zm128 0h96v64H176V296zm144 0h80v64H320V296zm80-48H320V192h80v56zm0 160v40c0 8.8-7.2 16-16 16H320V408h80zm-128 0v56H176V408h96zm-144 0v56H64c-8.8 0-16-7.2-16-16V408h80zM272 248H176V192h96v56z"/>
      </svg>
      {{- article.published_at | time_tag: format: 'date' -}}
    </span>
    <span class="circle-divider caption-with-letter-spacing">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        style="position: relative; top: 2px; margin-right: 2px;"
        height="1.4rem"
        viewBox="0 0 512 512"
      >
        <path d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z"/>
      </svg>
      {{- article.updated_at | time_tag: format: 'date' -}}
    </span>
  {%- endif -%}
  <span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      style="position: relative; top: 2px; margin-right: -4px;"
      height="1.4rem"
      viewBox="0 0 448 512"
    >
      <path d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
    </svg>
    {% if template contains 'news' %}
      <span class="article-tags">ニュース</span>
    {% else %}
      {% assign translated_tags = '' %}
      {% for tag in article.tags %}
        {% if tag == 'personal'
          or tag == 'fitness'
          or tag == 'nutrition'
          or tag == 'training'
          or tag == 'tools-and-calculators'
        %}
          {% assign translated_tag = tag
            | replace: 'personal', 'パーソナル'
            | replace: 'fitness', 'フィットネス'
            | replace: 'nutrition', 'ニュートリション'
            | replace: 'training', 'トレーニング'
            | replace: 'tools-and-calculators', 'ツールと計算'
          %}
          {% if translated_tags != '' %}
            {% assign translated_tags = translated_tags | append: ', ' | append: translated_tag %}
          {% else %}
            {% assign translated_tags = translated_tag %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if translated_tags != '' %}
        <span class="article-tags">{{ translated_tags }}</span>
      {% endif %}
    {% endif %}
  </span>

  {% if article.metafields.custom.pr_text == true %}
    <span class="article-tags">{{ pr_text }}</span>
  {% endif %}
</div>
