<style>
  .border-none {
    padding: unset;
    border-left: unset;
    display: inline-flex;
    align-items: center;
  }
  .table-wrap table td {
    text-align: center;
  }
  .table-wrap {
    overflow-x: scroll;
    position: relative; /* 追加：相対位置指定 */
  }
  .table-wrap tr th:first-of-type,
  .table-wrap tr td:first-of-type {
    width: 60px;
  }
  .table-wrap tr th:nth-of-type(2),
  .table-wrap tr td:nth-of-type(2) {
    width: 120px;
  }
  .table-wrap tr th:nth-of-type(3),
  .table-wrap tr td:nth-of-type(3) {
    width: 80px;
  }
  .table-wrap tr th:nth-of-type(n + 4),
  .table-wrap tr td:nth-of-type(n + 4) {
    width: 80px;
  }

  .table-wrap table th,
  .table-wrap table td {
    padding: 4px 6px;
    font-size: 1.2rem;
  }

  .table-sticky-row {
    position: sticky;
    top: 0;
    left: 0;
    border-left: none;
    border-right: none;
  }
  .table-sticky {
    position: sticky;
    top: 0;
    left: 60px;
    border-left: none;
    border-right: none;
  }
  .table-sticky::before,
  .table-sticky-row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
    border-right: 0.1rem solid rgba(var(--color-foreground), 0.2);
    background: #fff;
    z-index: -1;
  }
  .table-sticky::before {
    left: -1px;
  }
  .score-board {
    padding: 1.2rem;
    background-color: #f2f2f2;
  }
  .score-board p {
    margin: 0;
  }
  .total-score {
    background: linear-gradient(transparent 50%, #ffff7f 60%);
    font-size: 2.6rem;
    font-weight: bold;
  }
  .score-detail {
    font-size: 1.2rem;
  }
  .spec-item {
    display: inline-block;
    background: rgb(198 75 158);
    color: #fff;
    font-weight: bold;
    padding: 0 0.6rem;
    margin: 0 0.4rem 0.4rem 0;
    border-radius: 25px;
    font-size: 1.4rem;
  }
  .spec-item-gray {
    background: rgb(198 75 158 / 20%);
    color: #aaa;
  }
</style>
<p>今回は池袋駅周辺で価格の安いパーソナルジムをランキング形式でお届けします。</p>
<p>
  近年各社パーソナルジムの価格競争が激化しており、以下のように消費者側にとっては混乱してしまうような価格表示が混在しています。
</p>
<ul class="list-square">
  <li>月々4,000円から</li>
  <li>エリア最安価格級 など</li>
</ul>
<p>
  そこでFitOnlineではなるべく各社コースやキャンペーンなど条件を揃え、本当に1回当たりの金額が安いパーソナルジムがどこかを調査しました。
</p>
<p>
  これから池袋エリアのパーソナルジムを通おうと思っている方、パーソナルジムの相見積もりをされている方々へ分かりやすさ第一で作成しました。
</p>
<p>この記事はこんな方へおすすめです。</p>
<ul class="list-square">
  <li>とにかく池袋エリアで安いパーソナルジムを知りたい方</li>
  <li>池袋エリアのパーソナルジム料金を簡単に比較したい</li>
</ul>
<p style="background-color: #f2f2f2;">
  ※こちらの記事は、掲載パーソナルジムのサービスや満足度を保証するものではありません。採点に開きがありますが、あくまで独自の採点基準に沿った点数であり、各パーソナルジムの質やサービスを断定するものではありません。
</p>
<p>[DIVIDER]ikebukuro-personalgym-for-women[/DIVIDER]</p>
<h2>1回あたりの金額が安いランキング</h2>
<div class="table-wrap">
  <table>
    <tbody>
      <tr>
        <th class="table-sticky-row">順位</th>
        <th class="table-sticky">パーソナルジム</th>
        <th>ロゴ</th>
        <th>1回当たり</th>
        <th>
          入会金CPあり<br>
          1回当たり
        </th>
        <th>合計費用</th>
        <th>
          入会金CPあり<br>
          合計費用
        </th>
        <th>入会金</th>
        <th>入会金CP</th>
        <th>コース料金</th>
        <th>
          トレーニング<br>
          回数
        </th>
        <th>
          トレーニング<br>
          時間(分)
        </th>
        <th>
          体験<br>
          トレーニング
        </th>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank article-rank-in-table">1位</span></td>
        <td class="table-sticky">
          <a
            href="https://t.afi-b.com/visit.php?a=O10619a-6366258o&amp;p=X907237p"
            title="エクササイズコーチ 池袋東口店・池袋西口店"
            rel="nofollow"
            target="_blank"
            >エクササイズコーチ 池袋東口店・池袋西口店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/exercise.jpg?v=1704956399"
            loading="lazy"
          >
        </td>
        <td>¥5,638</td>
        <td>¥4,400</td>
        <td>¥90,200</td>
        <td>¥70,400</td>
        <td>¥19,800</td>
        <td>¥0</td>
        <td>¥70,400</td>
        <td>16</td>
        <td>20</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank article-rank-2 article-rank-in-table">2位</span></td>
        <td class="table-sticky">
          <a href="https://fitonline.co.jp/pages/personal-training/" title="YourPersonal池袋" target="_blank"
            >YourPersonal池袋</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/yourpersonal.webp?v=1707792233"
            loading="lazy"
          >
        </td>
        <td>¥6,980</td>
        <td>¥6,980</td>
        <td>¥111,680</td>
        <td>¥111,680</td>
        <td>¥0</td>
        <td>¥0</td>
        <td>¥111,680</td>
        <td>16</td>
        <td>50</td>
        <td>有料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank article-rank-3 article-rank-in-table">3位</span></td>
        <td class="table-sticky">
          <a href="https://realworkout.jp/" title="REALWORKOUT" rel="nofollow" target="_blank"
            >REALWORKOUT 池袋東口店・池袋西口店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/real2.webp?v=1704971315"
            loading="lazy"
          >
        </td>
        <td>¥7,838</td>
        <td>¥7,838</td>
        <td>¥125,400</td>
        <td>¥125,400</td>
        <td>¥11,000</td>
        <td>¥11,000</td>
        <td>¥114,400</td>
        <td>16</td>
        <td>60</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank article-rank-4 article-rank-in-table">4位</span></td>
        <td class="table-sticky">
          <a href="https://applegym.jp/" title="Apple GYM" rel="nofollow" target="_blank">Apple GYM 池袋店</a>
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/apple.webp?v=1705055728"
            loading="lazy"
          >
        </td>
        <td>¥8,223</td>
        <td>¥7,191</td>
        <td>¥131,560</td>
        <td>¥115,060</td>
        <td>¥33,000</td>
        <td>¥16,500</td>
        <td>¥98,560</td>
        <td>16</td>
        <td>45</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">5位</span></td>
        <td class="table-sticky">
          <a href="https://willbefit.jp/" title="WILL BE fitness studio" rel="nofollow" target="_blank"
            >WILL BE fitness studio 池袋支店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/willbe.png?v=1705056757"
            loading="lazy"
          >
        </td>
        <td>¥8,625</td>
        <td>¥8,625</td>
        <td>¥138,000</td>
        <td>¥138,000</td>
        <td>¥0</td>
        <td>¥0</td>
        <td>¥138,000</td>
        <td>16</td>
        <td>60</td>
        <td>有料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">6位</span></td>
        <td class="table-sticky">
          <a href="https://t-balance-gym.com/" title="ティーバランス" rel="nofollow" target="_blank"
            >ティーバランス 池袋西口店・池袋西別館</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/logo.webp?v=1705055932"
            loading="lazy"
          >
        </td>
        <td>¥9,438</td>
        <td>¥5,700</td>
        <td>¥151,000</td>
        <td>¥91,200</td>
        <td>¥59,800</td>
        <td>¥0</td>
        <td>¥91,200</td>
        <td>16</td>
        <td>60</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">7位</span></td>
        <td class="table-sticky">
          <a
            href="%E3%83%89%E3%82%AF%E3%82%BF%E3%83%BC%E3%83%88%E3%83%AC%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0"
            title="//af.moshimo.com/af/c/click?a_id=4208490&amp;p_id=2298&amp;pc_id=4928&amp;pl_id=30390"
            rel="nofollow"
            target="_blank"
            >ドクタートレーニング 池袋店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/dr.trainig.webp?v=1705056659"
            loading="lazy"
          >
        </td>
        <td>¥11,025</td>
        <td>¥8,800</td>
        <td>¥176,400</td>
        <td>¥140,800</td>
        <td>¥35,600</td>
        <td>¥0</td>
        <td>¥140,800</td>
        <td>16</td>
        <td>60</td>
        <td>有料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">8位</span></td>
        <td class="table-sticky">
          <a href="https://re-buff.com/" title="REBUFF" rel="nofollow" target="_blank">REBUFF 池袋店</a>
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/rebuff.png?v=1705055709"
            loading="lazy"
          >
        </td>
        <td>¥11,056</td>
        <td>¥9,681</td>
        <td>¥176,900</td>
        <td>¥154,900</td>
        <td>¥22,000</td>
        <td>¥0</td>
        <td>¥154,900</td>
        <td>16</td>
        <td>50</td>
        <td>有料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">9位</span></td>
        <td class="table-sticky">
          <a
            href="https://t.afi-b.com/visit.php?a=014091q-1463861Z&amp;p=X907237p"
            title="MIYAZAKI GYM"
            rel="nofollow"
            target="_blank"
            >MIYAZAKI GYM 池袋店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/MIYAZAKi.webp?v=1705056159"
            loading="lazy"
          >
        </td>
        <td>¥12,375</td>
        <td>¥11,000</td>
        <td>¥198,000</td>
        <td>¥176,000</td>
        <td>¥22,000</td>
        <td>¥0</td>
        <td>¥176,000</td>
        <td>16</td>
        <td>60</td>
        <td>有料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">10位</span></td>
        <td class="table-sticky">
          <a
            href="https://t.felmat.net/fmcl?ak=S3174N.1.762033Y.O108709V"
            title="ラスタイル"
            rel="nofollow"
            target="_blank"
            >ラスタイル 池袋東口本店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/lastyle.webp?v=1705055710"
            loading="lazy"
          >
        </td>
        <td>¥13,063</td>
        <td>¥13,063</td>
        <td>¥209,000</td>
        <td>¥209,000</td>
        <td>¥33,000</td>
        <td>¥33,000</td>
        <td>¥176,000</td>
        <td>16</td>
        <td>60</td>
        <td>有料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">11位</span></td>
        <td class="table-sticky">
          <a
            href="https://t.afi-b.com/visit.php?a=a12119H-p400495m&amp;p=X907237p"
            title="BEYOND"
            rel="nofollow"
            target="_blank"
            >BEYOND 池袋店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/beyond_e7ea7f79-5e16-40f4-b1f0-272d9b017d8e.webp?v=1704692836"
            loading="lazy"
          >
        </td>
        <td>¥13,188</td>
        <td>¥13,188</td>
        <td>¥211,000</td>
        <td>¥211,000</td>
        <td>0</td>
        <td>0</td>
        <td>211000</td>
        <td>16</td>
        <td>55</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">12位</span></td>
        <td class="table-sticky">
          <a href="https://www.outline-gym.com/" title="アウトライン" rel="nofollow" target="_blank"
            >アウトライン 池袋店・池袋2号店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/outline.png?v=1704619962"
            loading="lazy"
          >
        </td>
        <td>¥13,425</td>
        <td>¥11,550</td>
        <td>¥214,800</td>
        <td>¥184,800</td>
        <td>¥30,000</td>
        <td>¥0</td>
        <td>¥184,800</td>
        <td>16</td>
        <td>75</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">13位</span></td>
        <td class="table-sticky">
          <a
            href="https://px.a8.net/svt/ejp?a8mat=3THMU0+E1H1DE+3UK2+5YRHE"
            title="&gt;ビーコンセプト"
            rel="nofollow"
            target="_blank"
            >ビーコンセプト 池袋店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/B_CONCEPT.png?v=1704619626"
            loading="lazy"
          >
        </td>
        <td>¥14,884</td>
        <td>¥12,478</td>
        <td>¥238,150</td>
        <td>¥199,650</td>
        <td>¥38,500</td>
        <td>¥0</td>
        <td>¥199,650</td>
        <td>16</td>
        <td>75</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">14位</span></td>
        <td class="table-sticky">
          <a
            href="https://track.affiliate-b.com/visit.php?a=K7798Q-n2604970&amp;p=X907237p"
            title="&gt;リボーンマイセルフ"
            rel="nofollow"
            target="_blank"
            >リボーンマイセルフ 池袋店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/reborn-svg.webp?v=1704692632"
            loading="lazy"
          >
        </td>
        <td>¥15,125</td>
        <td>¥13,750</td>
        <td>¥242,000</td>
        <td>¥220,000</td>
        <td>¥22,000</td>
        <td>¥0</td>
        <td>¥220,000</td>
        <td>16</td>
        <td>60</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">15位</span></td>
        <td class="table-sticky">
          <a
            href="//af.moshimo.com/af/c/click?a_id=4208492&amp;p_id=2382&amp;pc_id=5169&amp;pl_id=31245"
            title="LiME"
            rel="nofollow"
            target="_blank"
            >LiME 池袋店</a
          >
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/LiME.webp?v=1705055709"
            loading="lazy"
          >
        </td>
        <td>¥16,019</td>
        <td>¥16,019</td>
        <td>¥256,300</td>
        <td>¥256,300</td>
        <td>¥38,500</td>
        <td>¥38,500</td>
        <td>¥217,800</td>
        <td>16</td>
        <td>60</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">16位</span></td>
        <td class="table-sticky">
          <a href="https://bodyke.jp/" title="Bodyke" rel="nofollow" target="_blank">Bodyke 池袋店</a>
        </td>
        <td>
          <img
            src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/Bodyke.webp?v=1705056901"
            loading="lazy"
          >
        </td>
        <td>¥16,500</td>
        <td>¥13,888</td>
        <td>¥264,000</td>
        <td>¥222,200</td>
        <td>¥41,800</td>
        <td>¥0</td>
        <td>¥222,200</td>
        <td>16</td>
        <td>60</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">17位</span></td>
        <td class="table-sticky">
          <a
            href="https://www.rentracks.jp/adx/r.html?idx=0.58005.336802.5291.7734&amp;dna=101523"
            title="チキンジム"
            rel="nofollow"
            target="_blank"
            >チキンジム 池袋店</a
          >
        </td>
        <td>
          <img src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/chicken.png" loading="lazy">
        </td>
        <td>¥17,125</td>
        <td>¥17,125</td>
        <td>¥274,000</td>
        <td>¥274,000</td>
        <td>¥35,000</td>
        <td>¥35,000</td>
        <td>¥239,000</td>
        <td>16</td>
        <td>60</td>
        <td>無料</td>
      </tr>
      <tr>
        <td class="table-sticky-row"><span class="article-rank  article-rank-4 article-rank-in-table">18位</span></td>
        <td class="table-sticky">
          <a
            href="https://t.afi-b.com/visit.php?a=014594I-y4783199&amp;p=X907237p"
            title="ASPI"
            rel="nofollow"
            target="_blank"
            >ASPI 池袋店</a
          >
        </td>
        <td>
          <img src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/aspi.webp" loading="lazy">
        </td>
        <td>¥19,000</td>
        <td>¥15,857</td>
        <td>¥266,000</td>
        <td>¥222,000</td>
        <td>¥55,000</td>
        <td>¥11,000</td>
        <td>¥211,000</td>
        <td>14</td>
        <td>50</td>
        <td>無料</td>
      </tr>
    </tbody>
  </table>
</div>
<p>（右スクロール可→）</p>
<h3 class="border-none"><span class="article-rank">1位</span>エクササイズコーチ 池袋東口店・池袋西口店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥5,638</span></p>
  <p class="score-detail">
    <span>入会金=¥19,800</span> <span>コース料金=¥70,400</span> <span>合計費用=¥90,200</span>
    <span>1回あたり=¥5,638</span><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥70,400</span> <span>合計費用=¥70,400</span>
    <span>CPあり1回あたり=¥4,400</span><br>
    <span>回数=16回</span> <span>時間=20,</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/exercise.jpg?v=1704956399"
      alt="エクササイズコーチ"
      width="1200"
      height="300"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://exercisecoach.co.jp/" title="エクササイズコーチ" target="_blank" rel="nofollow"
        >出典：https://exercisecoach.co.jp/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="https://t.afi-b.com/visit.php?a=O10619a-6366258o&amp;p=X907237p"
      title="エクササイズコーチ"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<p>エクササイズコーチは1回のトレーニング時間が20分で完結するマシン主導のパーソナルジムです。</p>
<p>マシンのAIプログラムが主導となって、トレーニングを進めます。</p>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">Exercise Coach, エクササイズコーチ</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">
        池袋東口店<br>
        平日：10:00～22:00（最終受付21:30）<br>
        土日祝：9:00～20:00（最終受付19:30）<br>
        池袋西口店<br>
        セミパーソナル会員<br>
        平日：12:00～17:00（最終受付16:30）<br>
        パーソナルコース会員<br>
        平日：12:00～22:00（最終受付21:30）<br>
        土日祝：8:00～20:00（最終受付19:30）
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">月額制（クレジットカード、口座引き落とし）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">
        池袋東口店<br>
        東京都豊島区南池袋3-13-10 ISP第3ビル3階<br>
        池袋西口店<br>
        東京都豊島区西池袋1-38-5 セイコービル7階
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6477.9790614866115!2d139.711834!3d35.726476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188deab6e779df%3A0xfdce19729368273a!2z44Ko44Kv44K144K144Kk44K644Kz44O844OB5rGg6KKL5p2x5Y-j5bqX!5e0!3m2!1sja!2sjp!4v1704957704121!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6477.459613903569!2d139.709211!3d35.732863!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d2e798ca967%3A0x6f2c014ef59c9551!2z44Ko44Kv44K144K144Kk44K644Kz44O844OB5rGg6KKL6KW_5Y-j5bqX!5e0!3m2!1sja!2sjp!4v1704958005846!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-2">2位</span>YourPersonal池袋</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥6,980</span></p>
  <p class="score-detail">
    <span>入会金=¥0</span> <span>コース料金=¥111,680</span> <span>合計費用=¥111,680</span> <span>1回あたり=¥6,980</span
    ><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥111,680</span> <span>合計費用=¥111,680</span>
    <span>CPあり1回あたり=¥6,980</span><br>
    <span>回数=16回</span> <span>時間=50分</span> <span>体験トレーニング=有料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/yourpersonal.webp?v=1707792233"
      alt="YourPersonal池袋"
      width="800"
      height="150"
      loading="lazy"
    >
  </div>
  <div class="article-flex-div-child">
    <a href="https://fitonline.co.jp/pages/personal-training/" title="YourPersonal池袋" target="_blank"
      >公式サイトで確認</a
    >
  </div>
</div>
<p>YourPersonal池袋は池袋エリアパーソナルジムにて16回コースの1回あたり金額最安値を目指しているジムです</p>
<p>他社より1円でも高い場合には価格交渉にも応じています。</p>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">YourPersonal池袋, ユアパーソナル池袋</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">9:00～23:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（現金、銀行振込、クレジットカード）、月額制（クレジットカード）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区池袋2-40-13 B1</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.71056183391!2d139.70637327570228!3d35.73333622711011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188deae13f56d1%3A0xf1918d5c425b25e1!2zWW91clBlcnNvbmFs5rGg6KKLIHwg44OR44O844K944OK44Or44K444Og!5e0!3m2!1sja!2sjp!4v1707790984305!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-3">3位</span>REALWORKOUT 池袋東口店・池袋西口店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥7,838</span></p>
  <p class="score-detail">
    <span>入会金=¥11,000</span> <span>コース料金=¥114,400</span> <span>合計費用=¥125,400</span>
    <span>1回あたり=¥7,838</span><br>
    <span>CPあり入会金=¥11,000</span> <span>コース料金=¥114,400</span> <span>合計費用=¥125,400</span>
    <span>CPあり1回あたり=¥7,838</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/real2.webp?v=1704971315"
      alt="REALWORKOUT"
      width="506"
      height="100"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://realworkout.jp/" title="REALWORKOUT" target="_blank" rel="nofollow"
        >出典：https://realworkout.jp/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a href="https://realworkout.jp/" title="REALWORKOUT" target="_blank" rel="nofollow">公式サイトで確認</a>
  </div>
</div>

<p>REALWORKOUTは全国に100店舗以上を構える大手パーソナルジムです。</p>
<p>池袋には西口と東口にそれぞれ1店舗づつあります。</p>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">REALWORKOUT, リアルワークアウト</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">
        池袋東口店<br>
        10:00〜23:00<br>
        池袋西口店<br>
        10:00〜23:00
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（現金、クレジットカード）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">
        池袋東口店<br>
        豊島区南池袋3-9-5 サトミビルB1F<br>
        池袋西口<br>
        豊島区池袋2-71-3 ベルスパッツィオ池袋ビル5F
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.0672152836455!2d139.7089920751535!3d35.72456542759349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dcbbc6953c5%3A0xeab4fa88637c8ac5!2zUkVBTCBXT1JLT1VUIOaxoOiii-adseWPo-W6lyB8IOODkeODvOOCveODiuODq-OCuOODoCDjg6rjgqLjg6vjg6_jg7zjgq_jgqLjgqbjg4g!5e0!3m2!1sja!2sjp!4v1704958098798!5m2!1sja!2sjp%0A"
          allowfullscreen=""
        ></iframe>
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.601124586377!2d139.7062934751541!3d35.73602712696299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d2cd79e1a55%3A0x172ccec5a014dc14!2zUkVBTFdPUktPVVQg5rGg6KKL6KW_5Y-j5bqXIHwg44OR44O844K944OK44Or44K444OgIOODquOCouODq-ODr-ODvOOCr-OCouOCpuODiA!5e0!3m2!1sja!2sjp!4v1704958379107!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">4位</span>Apple GYM 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥8,223</span></p>
  <p class="score-detail">
    <span>入会金=¥33,000</span> <span>コース料金=¥98,560</span> <span>合計費用=¥131,560</span>
    <span>1回あたり=¥8,223</span><br>
    <span>CPあり入会金=¥16,500</span> <span>コース料金=¥98,560</span> <span>合計費用=¥115,060</span>
    <span>CPあり1回あたり=¥7,191</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/apple.webp?v=1705055728"
      alt="Apple GYM"
      width="800"
      height="215"
      loading="lazy"
    >
    <p class="img-source">
      <a href="" title="Apple GYM" target="_blank" rel="nofollow">出典：https://applegym.jp/</a>
    </p>
  </div>
  <div class="article-flex-div-child">
    <a href="https://applegym.jp/" title="Apple GYM" target="_blank" rel="nofollow">公式サイトで確認</a>
  </div>
</div>
<p>1回あたり驚きの¥8,223で、エリア最安級の価格でした。</p>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">Apple GYM, アップルジム</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">9:00~21:25</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、クレジットカード、PayPay）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区西池袋3-30-10 ライオンビル204号室</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6477.618783083251!2d139.706476!3d35.730906!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188db8b0365737%3A0x47c1b278f51ebeea!2zQXBwbGUgR1lN77yI44Ki44OD44OX44Or44K444Og77yJ5rGg6KKL5bqX!5e0!3m2!1sja!2sjp!4v1704958506187!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">5位</span>WILL BE fitness studio 池袋支店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥8,625</span></p>
  <p class="score-detail">
    <span>入会金=¥0</span> <span>コース料金=¥138,000</span> <span>合計費用=¥138,000</span> <span>1回あたり=¥8,625</span
    ><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥138,000</span> <span>合計費用=¥138,000</span>
    <span>CPあり1回あたり=¥8,625</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=有料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/willbe.png?v=1705056757"
      alt="WILL BE fitness studio"
      width="2000"
      height="731"
      loading="lazy"
    >
    <p class="img-source">
      <a href="" title="WILL BE fitness studio" target="_blank" rel="nofollow">出典：https://willbefit.jp/</a>
    </p>
  </div>
  <div class="article-flex-div-child">
    <a href="https://willbefit.jp/" title="WILL BE fitness studio" target="_blank" rel="nofollow">公式サイトで確認</a>
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">WILL BE fitness studio</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">10:00～23:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">不明</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">有料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区南池袋1-11-13 リフュージュIサウス402</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.032451132628!2d139.7074504751535!3d35.725420427546396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d56a2d54313%3A0x4fd387e9d0c368f5!2sWILL%20BE%20fitness%20studio!5e0!3m2!1sja!2sjp!4v1704958592500!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">6位</span>ティーバランス 池袋西口店・池袋西別館</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥9,438</span></p>
  <p class="score-detail">
    <span>入会金=¥59,800</span> <span>コース料金=</span> <span>合計費用=¥151,000</span> <span>1回あたり=¥9,438</span
    ><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=</span> <span>合計費用=¥91,200</span>
    <span>CPあり1回あたり=¥5,700</span><br>
    <span>回数=61回</span> <span>時間=60分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/logo.webp?v=1705055932"
      alt="ティーバランス"
      width="458"
      height="132"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://t-balance-gym.com/" title="ティーバランス" target="_blank" rel="nofollow"
        >出典：https://t-balance-gym.com/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a href="https://t-balance-gym.com/" title="ティーバランス" target="_blank" rel="nofollow">公式サイトで確認</a>
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">T-BALANCE, ティーバランス</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">
        池袋西口店<br>
        月曜日～金曜日：7:00〜23:00<br>
        土日祝日：7:00〜23:00<br>
        定休日：なし<br>
        池袋西別館<br>
        月曜日～金曜日：7:00〜23:00<br>
        土日祝日：7:00〜23:00<br>
        定休日：日曜日
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">月額制（口座引き落とし）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">
        池袋西口店<br>
        東京都豊島区池袋2-38-12ウエストコート21-302<br>
        池袋西口別館<br>
        東京都豊島区池袋4-1-9池袋響テラス301
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.7083517080287!2d139.70559227579005!3d35.73339057257048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5ee5baaaab%3A0xdef54ed47a199eac!2z44OG44Kj44O844OQ44Op44Oz44K55rGg6KKL6KW_5Y-j5bqX!5e0!3m2!1sja!2sjp!4v1704958792807!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.5769009352525!2d139.70658557515404!3d35.73662272693027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018935148dd4547%3A0xef05e10c33594bd6!2z44OG44Kj44O844OQ44Op44Oz44K55rGg6KKL6KW_5Y-j5Yil6aSo!5e0!3m2!1sja!2sjp!4v1705038323655!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">7位</span>ドクタートレーニング 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥11,025</span></p>
  <p class="score-detail">
    <span>入会金=¥35,600</span> <span>コース料金=¥140,800</span> <span>合計費用=¥176,400</span>
    <span>1回あたり=¥11,025</span><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥140,800</span> <span>合計費用=¥140,800</span>
    <span>CPあり1回あたり=¥8,800</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=有料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/dr.trainig.webp?v=1705056659"
      alt="ドクタートレーニング"
      width="980"
      height="440"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://drtraining.jp/" title="ドクタートレーニング" target="_blank" rel="nofollow"
        >出典：https://drtraining.jp/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="//af.moshimo.com/af/c/click?a_id=4208490&amp;p_id=2298&amp;pc_id=4928&amp;pl_id=30390"
      title="ドクタートレーニング"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">Dr.TRAINING, ドクタートレーニング</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">9:00〜22:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">月額制（現金、銀行振込、クレジットカード）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">有料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区東池袋1-40-10 東池Kビル2F</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6477.5115866843025!2d139.713746!3d35.732224!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5d8abfb483%3A0x153e1274c3f1fc58!2z44OJ44Kv44K_44O844OI44Os44O844OL44Oz44Kw5rGg6KKL5bqX!5e0!3m2!1sja!2sjp!4v1704959098289!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">8位</span>REBUFF 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥11,056</span></p>
  <p class="score-detail">
    <span>入会金=¥22,000</span> <span>コース料金=¥154,900</span> <span>合計費用=¥176,900</span>
    <span>1回あたり=¥11,056</span><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥154,900</span> <span>合計費用=¥154,900</span>
    <span>CPあり1回あたり=¥9,681</span><br>
    <span>回数=16回</span> <span>時間=50分</span> <span>体験トレーニング=有料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/rebuff.png?v=1705055709"
      alt="REBUFF"
      width="1120"
      height="240"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://re-buff.com/" title="REBUFF" target="_blank" rel="nofollow">出典：https://re-buff.com/</a>
    </p>
  </div>
  <div class="article-flex-div-child">
    <a href="https://re-buff.com/" title="REBUFF" target="_blank" rel="nofollow">公式サイトで確認</a>
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">REBUFF</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">10:00～23:00（最終受付22時）</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">
        一括払い（現金、銀行振込、クレジットカード、電子マネー）、分割（現金、銀行振込、クレジットカード、電子マネー）
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">有料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区東池袋1-45-11 メゾン金子２０２</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6477.364857073397!2d139.715272!3d35.734028!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d98704fed5f%3A0x3cf267f0c81afee4!2z44OR44O844K944OK44Or44K444OgIFJFQlVGRiDmsaDooovlupc!5e0!3m2!1sja!2sjp!4v1704959384355!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">9位</span>MIYAZAKI GYM 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥12,375</span></p>
  <p class="score-detail">
    <span>入会金=¥22,000</span> <span>コース料金=¥176,000</span> <span>合計費用=¥198,000</span>
    <span>1回あたり=¥12,375</span><br>
    <span>CPあり入会金=0</span> <span>コース料金=¥176,000</span> <span>合計費用=¥176,000</span>
    <span>CPあり1回あたり=¥11,000</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=有料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/MIYAZAKi.webp?v=1705056159"
      alt="MIYAZAKI GYM"
      width="314"
      height="100"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://miyazaki-gym.jp/" title="MIYAZAKI GYM" target="_blank" rel="nofollow"
        >出典：https://miyazaki-gym.jp/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="https://t.afi-b.com/visit.php?a=014091q-1463861Z&amp;p=X907237p"
      title="MIYAZAKI GYM"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">MIYAZAKI GYM, ミヤザキジム</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">7:00～23:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、クレジットカード）、分割（銀行振込、クレジットカード）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">有料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区南池袋1-12-7 MIビル5階</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6478.0651809950305!2d139.711173!3d35.725417!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d755e4b29eb%3A0xf115a01a25c5200c!2zTUlZQVpBS0kgR1lN5rGg6KKL5bqX!5e0!3m2!1sja!2sjp!4v1704959523127!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">10位</span>ラスタイル 池袋東口本店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥13,063</span></p>
  <p class="score-detail">
    <span>入会金=¥33,000</span> <span>コース料金=¥176,000</span> <span>合計費用=¥209,000</span>
    <span>1回あたり=¥13,063</span><br>
    <span>CPあり入会金=¥33,000</span> <span>コース料金=¥176,000</span> <span>合計費用=¥209,000</span>
    <span>CPあり1回あたり=¥13,063</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=有料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/lastyle.webp?v=1705055710"
      alt="ラスタイル"
      width="301"
      height="120"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://www.last-style.com/" title="ラスタイル" target="_blank" rel="nofollow"
        >出典：https://www.last-style.com/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a href="https://t.felmat.net/fmcl?ak=S3174N.1.762033Y.O108709V" title="ラスタイル" target="_blank" rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">Lastyle, ラスタイル</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">
        平日：9:00～22:30（最終受付 21:00）<br>
        土日祝日：10:00～20:30（最終受付 19:00"）
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、クレジットカード）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">有料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区東池袋1-23-1 第一岡村ビル2階・地下1階</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3238.8894603176495!2d139.715944!3d35.72893700000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dc134decee1%3A0xca96f9300d5fc35a!2zTGFzdHlsZSjjg6njgrnjgr_jgqTjg6sp!5e0!3m2!1sja!2sjp!4v1704968585699!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">11位</span>BEYOND 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥13,188</span></p>
  <p class="score-detail">
    <span>入会金=¥0</span> <span>コース料金=¥211,000</span> <span>合計費用=¥211,000</span> <span>1回あたり=¥13,188</span
    ><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥211,000</span> <span>合計費用=¥211,000</span>
    <span>CPあり1回あたり=¥13,188</span><br>
    <span>回数=16回</span> <span>時間=55分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/beyond_e7ea7f79-5e16-40f4-b1f0-272d9b017d8e.webp?v=1704692836"
      alt="BEYOND"
      width="1080"
      height="350"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://beyond-gym.com/" title="BEYOND" target="_blank" rel="nofollow">出典：https://beyond-gym.com/</a>
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="https://t.afi-b.com/visit.php?a=a12119H-p400495m&amp;p=X907237p"
      title="BEYOND"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">BEYOND, ビヨンド</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">10:00〜22:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、デビットカード）、分割払い（ショッピングローン）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区東池袋4-8-8 東池袋パークビル1F</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.9567237764486!2d139.7160713751536!3d35.72728282744406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d110e101dff%3A0x5d5a09b28331f452!2zQkVZT05EIOaxoOiii-W6lw!5e0!3m2!1sja!2sjp!4v1704689939323!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">12位</span>アウトライン 池袋店・池袋2号店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥13,425</span></p>
  <p class="score-detail">
    <span>入会金=¥30,000</span> <span>コース料金=¥184,800</span> <span>合計費用=¥214,800</span>
    <span>1回あたり=¥13,425</span><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥184,800</span> <span>合計費用=¥184,800</span>
    <span>CPあり1回あたり=¥11,550</span><br>
    <span>回数=16回</span> <span>時間=75分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/outline.png?v=1704619962"
      alt="アウトライン"
      width="209"
      height="73"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://www.outline-gym.com/" title="アウトライン" target="_blank" rel="nofollow"
        >出典：https://www.outline-gym.com/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a href="https://www.outline-gym.com/" title="アウトライン" target="_blank" rel="nofollow">公式サイトで確認</a>
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">OUTLINE, アウトライン</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">7:00〜23:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">
        一括払い（銀行振込、クレジットカード）、分割払い（2か月コースなら2回払い、3か月コースなら3回払い）
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">
        池袋店<br>
        東京都豊島区南池袋1-14-2 リフュージュ・アイ・ノース402号室<br>
        池袋2号店<br>
        東京都豊島区西池袋3-4-3 エクセレンス西池袋101
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.02216405842!2d139.7075625751537!3d35.725673427532456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d998b6469af%3A0xeb046261155e64ff!2z44Ki44Km44OI44Op44Kk44Oz5rGg6KKL5bqX!5e0!3m2!1sja!2sjp!4v1704688774488!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8798381422753!2d139.70299217515378!3d35.72917362733994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5b939065a5%3A0xf0f92cdb71e39e17!2z44CSMTcxLTAwMjEg5p2x5Lqs6YO96LGK5bO25Yy66KW_5rGg6KKL77yT5LiB55uu77yU4oiS77yTIOmnkOi7iuWgtCDjgqjjgq_jgrvjg6zjg7Pjgrnopb_msaDooos!5e0!3m2!1sja!2sjp!4v1704688897955!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">13位</span>ビーコンセプト 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥14,884</span></p>
  <p class="score-detail">
    <span>入会金=¥38,500</span> <span>コース料金=¥199,650</span> <span>合計費用=¥238,150</span>
    <span>1回あたり=¥14,884</span><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥199,650</span> <span>合計費用=¥199,650</span>
    <span>CPあり1回あたり=¥12,478</span><br>
    <span>回数=16回</span> <span>時間=75分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/B_CONCEPT.png?v=1704619626"
      alt="ビーコンセプト"
      width="242"
      height="59"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://b-concept.tokyo/" title="ビーコンセプト" target="_blank" rel="nofollow"
        >出典：https://b-concept.tokyo/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="https://px.a8.net/svt/ejp?a8mat=3THMU0+E1H1DE+3UK2+5YRHE"
      title="ビーコンセプト"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">B-CONCEPT, ビーコンセプト</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">7:00〜23:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、クレジットカード）、分割払い（ショッピングローン）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区池袋2-51-16 双葉ビル701</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.6858761412677!2d139.70801547515404!3d35.733943227077745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d071a734f6b%3A0x4c2f162fa1d6b64e!2z44OT44O844Kz44Oz44K744OX44OI5rGg6KKL5bqX!5e0!3m2!1sja!2sjp!4v1704688124831!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">14位</span>リボーンマイセルフ 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥15,1254</span></p>
  <p class="score-detail">
    <span>入会金=¥22,000</span> <span>コース料金=¥220,000</span> <span>合計費用=¥242,000</span>
    <span>1回あたり=¥15,125</span><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥220,000</span> <span>合計費用=¥220,000</span>
    <span>CPあり1回あたり=¥13,750</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/reborn-svg.webp?v=1704692632"
      alt="リボーンマイセルフ"
      width="220"
      height="80"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://www.shapes-international.co.jp/" title="リボーンマイセルフ" target="_blank" rel="nofollow"
        >出典：https://www.shapes-international.co.jp/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="https://track.affiliate-b.com/visit.php?a=K7798Q-n2604970&amp;p=X907237p"
      title="リボーンマイセルフ"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">Reborn myself, リボーンマイセルフ</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">
        平日：10:00～22:00（最終受付21:00）<br>
        土/日/祝：9:00～22:00（最終受付21:00）<br>
        定休：日曜日
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、クレジットカード）、分割払い（ショッピングローン）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区西池袋3-25-11 CIC IKEBUKURO BUIL4F</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8493439682893!2d139.70478057515376!3d35.729923527298766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5c6cf0ef55%3A0x5efa3c0c59aae56d!2z44Oq44Oc44O844Oz44Oe44Kk44K744Or44OV5rGg6KKL5bqXIOWls-aAp-WwgueUqOODkeODvOOCveODiuODq-ODiOODrOODvOODi-ODs-OCsOOCuOODoA!5e0!3m2!1sja!2sjp!4v1704686063076!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">15位</span>LiME 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥16,019</span></p>
  <p class="score-detail">
    <span>入会金=¥38,500</span> <span>コース料金=¥217,800</span> <span>合計費用=¥256,300</span>
    <span>1回あたり=¥16,019</span><br>
    <span>CPあり入会金=¥38,500</span> <span>コース料金=¥217,800</span> <span>合計費用=¥256,300</span>
    <span>CPあり1回あたり=¥16,019</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/LiME.webp?v=1705055709"
      alt="LiME"
      width="440"
      height="120"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://tre-labo.com/" title="LiME" target="_blank" rel="nofollow">出典：https://tre-labo.com/</a>
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="//af.moshimo.com/af/c/click?a_id=4208492&amp;p_id=2382&amp;pc_id=5169&amp;pl_id=31245"
      title="LiME"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">LiME, ライム</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">9:00～24:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、クレジットカード）、分割払い（銀行振込、クレジットカード）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区南池袋1-12 MIビル5階</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.0330854323706!2d139.70865207515368!3d35.72540482754724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d436b1339bf%3A0x56a58c2b62e14a0e!2zTGlNReODkeODvOOCveODiuODq-OCuOODoOaxoOiii-W6lw!5e0!3m2!1sja!2sjp!4v1704969015524!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">16位</span>Bodyke 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥16,500</span></p>
  <p class="score-detail">
    <span>入会金=¥41,800</span> <span>コース料金=¥222,200</span> <span>合計費用=¥264,000</span>
    <span>1回あたり=¥16,500</span><br>
    <span>CPあり入会金=¥0</span> <span>コース料金=¥222,200</span> <span>合計費用=¥222,200</span>
    <span>CPあり1回あたり=¥13,888</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/Bodyke.webp?v=1705056901"
      alt="Bodyke"
      width="282"
      height="100"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://bodyke.jp/" title="Bodyke" target="_blank" rel="nofollow">出典：https://bodyke.jp/</a>
    </p>
  </div>
  <div class="article-flex-div-child">
    <a href="https://bodyke.jp/" title="Bodyke" target="_blank" rel="nofollow">公式サイトで確認</a>
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">Bodyke, ボディーク</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">7:00〜23:00（土・日・祝日営業）</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、クレジットカード、 PayPay）、分割払い（ショッピングローン）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区西池袋5-2-11 第一春谷ビル4F</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25910.19209633825!2d139.706235!3d35.731776!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d594a4a4cb1%3A0x7e71dfacb7a2ae8f!2z44OR44O844K944OK44Or44K444OgQm9keWtlKOODnOODh-OCo-ODvOOCrynmsaDooovlupc!5e0!3m2!1sja!2sus!4v1704969172276!5m2!1sja!2sus"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">17位</span>チキンジム 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥17,125</span></p>
  <p class="score-detail">
    <span>入会金=¥35,000</span> <span>コース料金=¥239,000</span> <span>合計費用=¥274,000</span>
    <span>1回あたり=¥17,125</span><br>
    <span>CPあり入会金=¥35,000</span> <span>コース料金=¥239,000</span> <span>合計費用=¥274,000</span>
    <span>CPあり1回あたり=¥17,125</span><br>
    <span>回数=16回</span> <span>時間=60分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/chicken.png"
      alt="チキンジム"
      width="547"
      height="143"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://chicken-gym.jp/" title="チキンジム" target="_blank" rel="nofollow"
        >出典：https://chicken-gym.jp/</a
      >
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="https://www.rentracks.jp/adx/r.html?idx=0.58005.336802.5291.7734&amp;dna=101523"
      title="チキンジム"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">Chicken Gym, チキンジム</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">7:00～23:00</td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">一括払い（銀行振込、クレジットカード）、分割払い（ショッピングローン）</td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区東池袋1-21-13 aune池袋11F</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3238.8280569765693!2d139.71599!3d35.730447!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dec68dc0173%3A0x5cad9652acdc984!2z44CQ44OR44O844K944OK44Or44K444Og44CR44OB44Kt44Oz44K444OgIOaxoOiii-W6lw!5e0!3m2!1sja!2sjp!4v1704969371166!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="border-none"><span class="article-rank article-rank-4">18位</span>ASPI 池袋店</h3>
<div class="score-board">
  <p><span class="total-score">1回あたり ¥19,000</span></p>
  <p class="score-detail">
    <span>入会金=¥55,000</span> <span>コース料金=¥211,000</span> <span>合計費用=¥266,000</span>
    <span>1回あたり=¥19,000</span><br>
    <span>CPあり入会金=¥11,000</span> <span>コース料金=¥211,000</span> <span>合計費用=¥222,000</span>
    <span>CPあり1回あたり=¥15,857</span><br>
    <span>回数=14回</span> <span>時間=50分</span> <span>体験トレーニング=無料</span>
  </p>
</div>
<div class="article-flex-div sp-wrap-mode">
  <div class="article-flex-div-child">
    <img
      src="https://cdn.shopify.com/s/files/1/0604/3956/0376/files/aspi.webp"
      alt="ASPI"
      width="657"
      height="191"
      loading="lazy"
    >
    <p class="img-source">
      <a href="https://aspirest.com/" title="ASPI" target="_blank" rel="nofollow">出典：https://aspirest.com/</a>
    </p>
  </div>
  <div class="article-flex-div-child">
    <a
      href="https://t.afi-b.com/visit.php?a=014594I-y4783199&amp;p=X907237p"
      title="ASPI"
      target="_blank"
      rel="nofollow"
      >公式サイトで確認</a
    >
  </div>
</div>
<table width="100%">
  <tbody>
    <tr>
      <td style="width: 15%;">ジム名</td>
      <td style="width: 85%;">ASPI, アスピ</td>
    </tr>
    <tr>
      <td style="width: 15%;">営業時間</td>
      <td style="width: 85%;">
        月〜金曜日：10:00~22:00<br>
        土曜日・日曜日：09:00〜22:00
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">支払い方法</td>
      <td style="width: 85%;">
        一括払い（現金、銀行振込、クレジットカード）、分割払い（口座振替、ショッピングローン）
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料</td>
    </tr>
    <tr>
      <td style="width: 15%;">住所</td>
      <td style="width: 85%;">東京都豊島区南池袋3-13-17 MASHITA5ビル6F</td>
    </tr>
    <tr>
      <td style="width: 15%;">地図</td>
      <td style="width: 85%;">
        <iframe
          loading="lazy"
          style="border: 0;"
          height="350"
          width="100%"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.0029112024013!2d139.70991807515364!3d35.72614692750635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dfb121ffe9d%3A0x8ca6a09bb0fe5cde!2zQVNQSeaxoOiii-W6lyDjg5Hjg7zjgr3jg4rjg6vjg4jjg6zjg7zjg4vjg7PjgrDjgrjjg6A!5e0!3m2!1sja!2sjp!4v1704969633726!5m2!1sja!2sjp"
          allowfullscreen=""
        ></iframe>
      </td>
    </tr>
  </tbody>
</table>
<h2>ランキング順位の評価方法</h2>
<p>池袋エリアでパーソナルトレーニング1回あたりの金額が安い順番に順位づけしました。</p>
<h3>1回あたりの金額計算方法</h3>
<p>（入会金 ＋ コース料金表）÷ トレーニング回数 ＝1回当たりの金額</p>
<p>
  ※入会金CPありの場合<br>
  （入会金CP ＋ コース料金表）÷ トレーニング回数 ＝入会金CPあり1回当たりの金額
</p>
<h3>採点方法</h3>
<table width="100%">
  <tbody>
    <tr>
      <th style="width: 15%;">項目</th>
      <th style="width: 85%;">ポイント</th>
    </tr>
    <tr>
      <td style="width: 15%;">1回当たり</td>
      <td style="width: 85%;">入会金とコース料金表を足してトレーニング回数で割った金額</td>
    </tr>
    <tr>
      <td style="width: 15%;">
        入会金CPあり<br>
        1回当たり
      </td>
      <td style="width: 85%;">入会金CPとコース料金表を足してトレーニング回数で割った金額</td>
    </tr>
    <tr>
      <td style="width: 15%;">合計費用</td>
      <td style="width: 85%;">入会金とコース料金表を足した金額</td>
    </tr>
    <tr>
      <td style="width: 15%;">
        入会金CPあり<br>
        合計費用
      </td>
      <td style="width: 85%;">入会金CPとコース料金表を足した金額</td>
    </tr>
    <tr>
      <td style="width: 15%;">入会金</td>
      <td style="width: 85%;">正規の入会金</td>
    </tr>
    <tr>
      <td style="width: 15%;">入会金CP</td>
      <td style="width: 85%;">割引キャンペーンなどを適応した入会金</td>
    </tr>
    <tr>
      <td style="width: 15%;">トレーニング回数</td>
      <td style="width: 85%;">
        2か月16回を目安に各ジムを比較<br>
        16回のないものは近いものを選択（14回など）
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">トレーニング時間(分)</td>
      <td style="width: 85%;">
        各ジムが定めたトレーニング時間<br>
        複数あるものは60分に近づくように揃える
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">体験トレーニング</td>
      <td style="width: 85%;">無料・有料またはなし</td>
    </tr>
  </tbody>
</table>
