<style>
  .footer__content-bottom-wrapper--center {
    justify-content: center;
    display: flex;
    width: 100%;
  }
  .footer__copyright {
    text-align: center;
    margin: 1.5rem 0;
  }
  .caption {
    letter-spacing: .07rem;
    line-height: calc(1 + .7 / var(--font-body-scale));
  }
  .copyright__content {
    font-size: 11px;
  }
</style>

<div class="footer__content-bottom-wrapper page-width footer__content-bottom-wrapper--center">
      <div class="footer__copyright caption">
        <small class="copyright__content">©
        </small>
        <small class="copyright__content">FITONLINE inc.</small></div>
    </div>